html {
  font-size: calc(12px + 4 * (100vw - 300px) / (1600 - 300));
  line-height: calc(2.2em + 0.3 * (100vw - 300px) / (1600 - 300));
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background: #fff;
  color: #000;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-style: 1.4rem;
}

a {
  text-decoration: none;
  margin: 0 20px;
}

p {
  font-size: 1.5rem;
}

hr {
  height: 4px;
  border: none;
  border-radius: 5px;
  background: #000;
}

section {
  max-width: 700px;
  margin: 2rem auto;
  text-align: center;
  padding: 0 2rem;
}

footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #fff;
  }

  hr {
    background: #fff;
  }

  svg {
    fill: #fff;
  }
}